# Python / build artefacts
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.log

# Jupyter
.ipynb_checkpoints/

# Virtual envs / secrets
.env
.env.*
*.env
.venv/
venv/

# data
data/02_interim/*
data/03_processed/*
data/06_models/*

!data/01_raw/
data/01_raw/*
!data/01_raw/sample_100.csv

# ML artifacts
*.pkl
*.joblib
*.onnx
mlruns/
outputs/
logs/

# W&B, Kedro Viz, cache
wandb/
.viz/
.kedro/

# databases
*.db
*.sqlite
*.sqlite3

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
