__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
*.log

.ipynb_checkpoints/

.env
.env.*
*.env
.venv/
venv/

data/02_interim/*
data/03_processed/*
data/09_tracking/*

data/06_models/*
*.pkl
*.joblib
*.onnx

!data/06_models/production_model.pkl
!data/06_models/required_columns.json

data/01_raw/*
!data/01_raw/sample_100.csv

*.db
*.sqlite
*.sqlite3

wandb/
mlruns/
outputs/
logs/
.viz/
.kedro/
.pytest_cache/
.ruff_cache/

.idea/
.vscode/
.DS_Store
Thumbs.db
