services:
  db:
    image: postgres:15
    container_name: ml_db
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U app -d appdb"]
      interval: 5s
      timeout: 3s
      retries: 30

  api:
    container_name: ml_api
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      DATABASE_URL: postgresql+asyncpg://app:app@db:5432/appdb
      MODEL_PATH: /app/data/06_models/production_model
      REQUIRED_COLUMNS_PATH: /app/data/06_models/required_columns.json
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"

  ui:
    container_name: ml_ui
    build:
      context: .
      dockerfile: Dockerfile.ui
    environment:
      API_URL: http://api:8000
    depends_on:
      - api
    ports:
      - "8501:8501"
